<div style="background-color: #e4e4e4;margin-bottom: -8px;">
    <div class="container">
        <div class="row" style="padding-top: 10px">
            <div class="col-xs-12">
                <div class="col-lg-8 col-md-12 col-sm-12  col-xs-12 form-group">
                    <ul class="footer_links">
                        <li><a href="{{ path('advertise') }}">Advertise</a></li>
                        <li><a href="{{ path('privacypolicy') }}">Privacy Policy</a></li>
                        <li><a href="{{ path('termsconditions') }}">Terms &amp; Conditions</a></li>
                        <li><a href="{{ path('invite_a_friend') }}">Invite a Friend</a></li>
                        <li><a href="{{ path('jobopportunities') }}">Jobs Opps</a></li>
                        <li><a href="{{ path('contact_us') }}">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-8 col-xxs-12 pull-right">
                    <div class="hidden-lg" style="padding-top: 15px;"></div>
                    <div>Subscribe to updates from themusicsite.com</div>
                    <div class="form-group">
                        <form role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter your email...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" type="button">Subscribe!</button>
                                        </span>
                            </div><!-- /input-group -->
                        </form>
                    </div>
                    <ul class="footer_social_icons visible-xs">
                        <li><a href="https://twitter.com/themusicsitecom" target="_blank"><img class="img-responsive" src="{{ asset('bundles/tmsuserjoinpage/images/tweet_icon.png') }}"></a></li>
                        <li><a href="https://www.facebook.com/TheMusicSitecom" target="_blank"><img class="img-responsive" src="{{ asset('bundles/tmsuserjoinpage/images/fb_icon.png') }}"></a></li>
                        <li><a href="http://www.youtube.com/subscription_center?add_user=PitchMyStuff" target="_blank"><img class="img-responsive" src="{{ asset('bundles/tmsuserjoinpage/images/play_icon.png') }}"></a></li>
                        <li><a href="https://plus.google.com/118156278029274131168/about" target="_blank"><img class="img-responsive" src="{{ asset('bundles/tmsuserjoinpage/images/gplus_icon.png') }}"></a></li>
                        <li class="social_instagram_icon"><a href="http://instagram.com/themusicsitecom" target="_blank"><img class="img-responsive" src="{{ asset('bundles/tmsuserjoinpage/images/instagram_icon.png') }}"></a></li>
                        <li class="social_p_icon"><a href="http://www.pinterest.com/themusicsite" target="_blank"><img class="img-responsive" src="{{ asset('bundles/tmsuserjoinpage/images/p_icon.png') }}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row form-group">
            <div class="col-xs-12">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 dark_grey" style="padding-top:5px;">
                    Copyright © 2014 TheMusicSite.com
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <ul class="footer_social_icons hidden-xs">
                        <li><a href="https://twitter.com/themusicsitecom" target="_blank"><img class="img-responsive" src="{{ asset('bundles/tmsuserjoinpage/images/tweet_icon.png') }}"></a></li>
                        <li><a href="https://www.facebook.com/TheMusicSitecom" target="_blank"><img class="img-responsive" src="{{ asset('bundles/tmsuserjoinpage/images/fb_icon.png') }}"></a></li>
                        <li><a href="http://www.youtube.com/subscription_center?add_user=PitchMyStuff" target="_blank"><img class="{{ asset('bundles/tmsuserjoinpage/images/img-responsive" src="images/play_icon.png') }}"></a></li>
                        <li><a href="https://plus.google.com/118156278029274131168/about" target="_blank"><img class="img-responsive" src="{{ asset('bundles/tmsuserjoinpage/images/gplus_icon.png') }}"></a></li>
                        <li class="social_instagram_icon"><a href="http://instagram.com/themusicsitecom" target="_blank"><img class="img-responsive" src="{{ asset('bundles/tmsuserjoinpage/images/instagram_icon.png') }}"></a></li>
                        <li class="social_p_icon"><a href="http://www.pinterest.com/themusicsite" target="_blank"><img class="img-responsive" src="{{ asset('bundles/tmsuserjoinpage/images/p_icon.png') }}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="hidden-xs" style="margin-top: 10px;"></div>
    </div>
</div>