{% extends 'TMSUserJoinPageBundle::layout.html.twig' %}
 
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tmsuserjoinpage/css/main.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content -%}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>User_type</th>
                <th>Nick_name</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Salt</th>
                <th>Status</th>
                <th>Id_chat_status</th>
                <th>Sex</th>
                <th>Descriptionme</th>
                <th>Country</th>
                <th>City</th>
                <th>Date_of_birth</th>
                <th>Date_reg</th>
                <th>Date_last_login</th>
                <th>Type</th>
                <th>Facebook_url</th>
                <th>Twitter_url</th>
                <th>Youtube_url</th>
                <th>Myspace_url</th>
                <th>Id_paypal</th>
                <th>Id_media</th>
                <th>Record_label</th>
                <th>Id_music_genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tms_user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.usertype }}</td>
                <td>{{ entity.nickname }}</td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.salt }}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.idchatstatus }}</td>
                <td>{{ entity.sex }}</td>
                <td>{{ entity.descriptionMe }}</td>
                <td>{{ entity.country }}</td>
                <td>{{ entity.city }}</td>
                <td>{% if entity.dateofbirth %}{{ entity.dateofbirth|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.datereg %}{{ entity.datereg|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.datelastlogin %}{{ entity.datelastlogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.facebookurl }}</td>
                <td>{{ entity.twitterurl }}</td>
                <td>{{ entity.youtubeurl }}</td>
                <td>{{ entity.myspaceurl }}</td>
                <td>{{ entity.idpaypal }}</td>
                <td>{{ entity.idmedia }}</td>
                <td>{{ entity.recordlabel }}</td>
                <td>{{ entity.idmusicgenre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tms_user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('tms_user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tms_user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
